<% include ./partials/header.ejs %>
<div class="maindiv w-full h-fit">
  <div class="aboveContainer w-fit h-[84.5%] bg-blue-400 pt-10 px-12 flex items-center justify-center">
  <div class="bg-white flex items-center  w-fit h-96 rounded-t-lg px-14 ">
    <!-- Image container -->
    <div class="image-container flex-shrink-0 items-start justify-center w-72 h-72 ">
      <!-- Book picture -->
      <img src="https://th.bing.com/th/id/OIP.3kdn7cAoRYdAI14Oj6vXlwAAAA?pid=ImgDet&w=204&h=307&c=7&dpr=1.7" alt="Book Picture" class="w-52 h-[300px] rounded-md">
    </div>
  
    <!-- Content container -->
    <div class="content-container  ">
      <h2 class="text-2xl font-bold pb-2">Love to Read the Book || Trending book</h2>
      <div class="w-[95%] h-24 overflow-hidden ">
        <p class="text-base tracking-tighter">Billionaire Arav Malhotra, never planning marriage, wedded the daughter of his father's business partner against his will. lorem</p>
      </div>
      <div class="flex items-center mt-1">
        <span class="mr-2 font-bold">Rating:</span>
        <span class="">⭐</span>
        <h2>(3.1k)</h2>
      </div>
      <div class="flex items-center mt-2">
        <span class="mr-2 font-bold">Reading Time:</span>
        <span>2 hours</span>
      </div>
      <div class="flex items-center mt-2">
        <span class="mr-2 font-bold">Read Count:</span>
        <span>1652</span>
      </div>
      <button class="mt-4 bg-green-500 text-white py-3 px-14 rounded hover:bg-green-600 font-extrabold">Read Now</button>
    </div>
  </div>
</div>

<div class="LowerContainer w-fit h-full bg-white">
  <div class="UserContainer flex items-center justify-between px-24 py-2 mt-12">
    <!-- User image and name container -->
    <div class="flex items-center">
        <!-- Rounded user image -->
        <div class="UserImage rounded-full w-16 h-16 overflow-hidden bg-gray-300 mr-4">
            <img src="https://www.thefashionisto.com/wp-content/uploads/2017/05/Mango-Man-Slim-Fit-Linen-Cotton-Blend-Blazer-450x629.jpg" class="w-full h-full object-cover">
        </div>
        <!-- User name and followers -->
        <div>
            <h1 class="text-xl font-semibold text-black font-sans">Alxander</h1>
            <p class="text-sm text-gray-600">Followers: 1.3k</p> <!-- Example followers count -->
        </div>
    </div>
    
    <!-- Follow option -->
    <h1 class="text-2xl font-semibold text-blue-900 font-sans">Follow</h1>
</div>


  <!-- Heading for Episodes -->
  <div class="flex items-center justify-start mt-8">
    <div class="h-8 w-2 bg-blue-500 ml-14"></div>
  <h1 class="text-2xl font-bold mt-0 ml-2">Episodes</h1>
  </div>

<div class="ForshowingEpi w-[100%] h-fit flex justify-between px-28 flex-wrap">
  <!-- Episode 1 -->
  <div class="EpisodeContainer mt-12 mx-20 h-fit w-fit px-2 py-1 shadow-lg border border-neutral-300 rounded-lg  ">
      <h2 class="font-semibold text-lg">Episode 1</h2>
      <div class="EpisodeInfo flex items-center mt-0">
          <!-- Show view icon -->
          <div class="flex items-center mr-4">
            <i class="ri-eye-fill text-slate-500 text-lg mr-2"></i> 
            <span>Views</span>
        </div>
        
        <div class="flex items-center mr-4">
            <i class="ri-star-fill text-slate-500 text-lg mr-2"></i>
            <span>Rate</span>
        </div>
        
        <div class="flex items-center mr-4">
            <i class="ri-time-fill text-slate-500 text-lg mr-2"></i> 
            <span>Time</span>
        </div>
      </div>
  </div>
  <div class="EpisodeContainer mt-12 mx-20 h-fit w-fit px-2 py-1 shadow-lg border border-neutral-300 rounded-lg  ">
      <h2 class="font-semibold text-lg">Episode 2</h2>
      <div class="EpisodeInfo flex items-center mt-0">
          <!-- Show view icon -->
          <div class="flex items-center mr-4">
            <i class="ri-eye-fill text-slate-500 text-lg mr-2"></i> 
            <span>Views</span>
        </div>
        
        <div class="flex items-center mr-4">
            <i class="ri-star-fill text-slate-500 text-lg mr-2"></i>
            <span>Rate</span>
        </div>
        
        <div class="flex items-center mr-4">
            <i class="ri-time-fill text-slate-500 text-lg mr-2"></i> 
            <span>Time</span>
        </div>
      </div>
  </div>
  <div class="EpisodeContainer mt-12 mx-20 h-fit w-fit px-2 py-1 shadow-lg border border-neutral-300 rounded-lg  ">
      <h2 class="font-semibold text-lg">Episode 3</h2>
      <div class="EpisodeInfo flex items-center mt-0">
          <!-- Show view icon -->
          <div class="flex items-center mr-4">
            <i class="ri-eye-fill text-slate-500 text-lg mr-2"></i> 
            <span>Views</span>
        </div>
        
        <div class="flex items-center mr-4">
            <i class="ri-star-fill text-slate-500 text-lg mr-2"></i>
            <span>Rate</span>
        </div>
        
        <div class="flex items-center mr-4">
            <i class="ri-time-fill text-slate-500 text-lg mr-2"></i> 
            <span>Time</span>
        </div>
      </div>
  </div>
  <div class="EpisodeContainer mt-12 mx-20 h-fit w-fit px-2 py-1 shadow-lg border border-neutral-300 rounded-lg  ">
      <h2 class="font-semibold text-lg">Episode 4</h2>
      <div class="EpisodeInfo flex items-center mt-0">
          <!-- Show view icon -->
          <div class="flex items-center mr-4">
            <i class="ri-eye-fill text-slate-500 text-lg mr-2"></i> 
            <span>Views</span>
        </div>
        
        <div class="flex items-center mr-4">
            <i class="ri-star-fill text-slate-500 text-lg mr-2"></i>
            <span>Rate</span>
        </div>
        
        <div class="flex items-center mr-4">
            <i class="ri-time-fill text-slate-500 text-lg mr-2"></i> 
            <span>Time</span>
        </div>
      </div>
  </div>
  <div class="EpisodeContainer mt-12 mx-20 h-fit w-fit px-2 py-1 shadow-lg border border-neutral-300 rounded-lg  ">
      <h2 class="font-semibold text-lg">Episode 5</h2>
      <div class="EpisodeInfo flex items-center mt-0">
          <!-- Show view icon -->
          <div class="flex items-center mr-4">
            <i class="ri-eye-fill text-slate-500 text-lg mr-2"></i> 
            <span>Views</span>
        </div>
        
        <div class="flex items-center mr-4">
            <i class="ri-star-fill text-slate-500 text-lg mr-2"></i>
            <span>Rate</span>
        </div>
        
        <div class="flex items-center mr-4">
            <i class="ri-time-fill text-slate-500 text-lg mr-2"></i> 
            <span>Time</span>
        </div>
      </div>
  </div>
   <!-- Episode end -->
</div>
</div>


</div>
<% include ./partials/footer.ejs %>