<% include ./partials/header.ejs %>
<div class="mainDiv h-[100%] w-auto">
    <h1 class="inline-block text-3xl font-extrabold pl-14 mt-9 ">Explore Categories</h1>

<div class="mainDivCategory w-aut flex flex-wrap pl-14 gap-10 pt-5">
    <div class="catebox w-52 h-36 bg-black rounded-md relative">
        <img src="https://th.bing.com/th/id/OIP.e3Mo8cQZRzkEKhdvpZAaeAHaEK?pid=ImgDet&w=474&h=266&rs=1" class="w-full h-full object-cover rounded-md">
        <h1 class="absolute bottom-0 left-0 mb-2 ml-2 text-white text-lg tracking-tighter font-bold">Horror Stories</h1>
    </div>
    <div class="catebox w-52 h-36 bg-black rounded-md relative">
        <img src="https://i.ytimg.com/vi/ozb_gKp-gUM/maxresdefault.jpg" class="w-full h-full object-cover rounded-md">
        <h1 class="absolute bottom-0 left-0 mb-2 ml-2 text-white text-lg tracking-tighter  font-bold">Children's Stories</h1>
    </div>
    <div class="catebox w-52 h-36 bg-black rounded-md relative">
        <img src="https://th.bing.com/th/id/OIP.8_0keEsEExyyjqoAF3NXawHaEK?rs=1&pid=ImgDetMain" class="w-full h-full object-cover rounded-md">
        <h1 class="absolute bottom-0 left-0 mb-2 ml-2 text-white text-lg tracking-tighter font-bold">Comedy</h1>
    </div>
    <div class="catebox w-52 h-36 bg-black rounded-md relative">
        <img src="https://th.bing.com/th/id/OIP.tE8qACZyjV4hQy4PD4YBygHaFb?rs=1&pid=ImgDetMain" class="w-full h-full object-cover rounded-md">
        <h1 class="absolute bottom-0 left-0 mb-2 ml-2 text-white text-lg tracking-tighter font-bold">Documentory</h1>
    </div>
    <div class="catebox w-52 h-36 bg-black rounded-md relative">
        <img src="https://th.bing.com/th/id/OIP.8_0keEsEExyyjqoAF3NXawHaEK?rs=1&pid=ImgDetMain" class="w-full h-full object-cover rounded-md">
        <h1 class="absolute bottom-0 left-0 mb-2 ml-2 text-white text-lg tracking-tighter font-bold">Life</h1>
    </div>
    <div class="catebox w-52 h-36 bg-black rounded-md relative">
        <img src="https://i.pinimg.com/736x/79/e8/da/79e8daad0cd2889c0fbbb3132f816c80--young-adult-books-ya-books.jpg" class="w-full h-full object-cover rounded-md">
        <h1 class="absolute bottom-0 left-0 mb-2 ml-2 text-white text-lg tracking-tighter font-bold">Young Adult</h1>
    </div>
     
 
 

</div>
<% include ./partials/footer.ejs %>