<% include ./partials/header.ejs %>
   <div class="main h-fit w-auto">
  <h1 class="inline-block pl-8 pt-5 font-[900] text-3xl">Read English Stories</h1><br>
  <h2 class="inline-block pl-8 font-extrabold opacity-40 text-xl">A World Of Stories</h2><br>

   <!-- Top trending Div  -->
  <h1 class=" inline-block text-2xl font-extrabold mt-5 pl-8">Top Trending Series</h1>
    <div class="RowDiv flex flex-row overflow-scroll overflow-y-hidden pl-6 gap-6 scrollbar">
        <!-- image box 1  -->
        <a href="/bookdetail" class="imagebox h-fit w-36 flex flex-col justify-between m-2">
            <div class="h-56 w-36 rounded-md box overflow-hidden">
                <img src="https://th.bing.com/th/id/OIP.3kdn7cAoRYdAI14Oj6vXlwAAAA?pid=ImgDet&w=204&h=307&c=7&dpr=1.7" alt="Book Cover" class=" w-full h-full rounded-md object-cover">
            </div>
                <p class="text-sm font-semibold">Learn to love</p>
            <p class="text-xs">12 hours</p>
            <p class="text-xs">52k+ Total readers</p>
        </a>
        <a href="/bookdetail" class="imagebox h-fit w-36 flex flex-col justify-between m-2">
            <div class="h-56 w-36 rounded-md box overflow-hidden">
                <img src="https://th.bing.com/th/id/OIP.3kdn7cAoRYdAI14Oj6vXlwAAAA?pid=ImgDet&w=204&h=307&c=7&dpr=1.7" alt="Book Cover" class=" w-full h-full rounded-md object-cover">
            </div>
                <p class="text-sm font-semibold">Learn to love</p>
            <p class="text-xs">12 hours</p>
            <p class="text-xs">52k+ Total readers</p>
        </a>
        <a href="/bookdetail" class="imagebox h-fit w-36 flex flex-col justify-between m-2">
            <div class="h-56 w-36 rounded-md box overflow-hidden">
                <img src="https://th.bing.com/th/id/OIP.3kdn7cAoRYdAI14Oj6vXlwAAAA?pid=ImgDet&w=204&h=307&c=7&dpr=1.7" alt="Book Cover" class=" w-full h-full rounded-md object-cover">
            </div>
                <p class="text-sm font-semibold">Learn to love</p>
            <p class="text-xs">12 hours</p>
            <p class="text-xs">52k+ Total readers</p>
        </a>
        <div class="imagebox h-fit w-36 flex flex-col justify-between m-2">
            <div class="h-56 w-36 rounded-md box overflow-hidden">
        <img src="https://th.bing.com/th/id/OIP.F24Ejoqzj349gb5LEtGXPwHaL1?rs=1&pid=ImgDetMain" alt="Book Cover" class="w-full h-full rounded-md object-cover">
    </div>
            <p class="text-sm font-semibold">Learn to love</p>
            <p class="text-xs">12 hours</p>
            <p class="text-xs">52k+ Total readers</p>
        </div>
        <div class="imagebox h-fit w-36 flex flex-col justify-between m-2">
            <div class="h-56 w-36 rounded-md box overflow-hidden">
            <img src="https://th.bing.com/th/id/OIP.ttn7rz3geRACiet-LviLEQHaLG?pid=ImgDet&w=474&h=710&rs=1" alt="Book Cover" class="w-36 h-56 rounded-md object-cover">
        </div>
            <p class="text-sm font-semibold">Learn to love</p>
            <p class="text-xs">12 hours</p>
            <p class="text-xs">52k+ Total readers</p>
        </div>
        <div class="imagebox h-fit w-36 flex flex-col justify-between m-2">
            <div class="h-56 w-36 rounded-md box overflow-hidden">
            <img src="https://th.bing.com/th/id/OIP.-RPbvRTHifOZl4yVKEfrQAHaLU?pid=ImgDet&w=474&h=724&rs=1" alt="Book Cover" class="w-36 h-56 rounded-md object-cover">
        </div>
            <p class="text-sm font-semibold">Learn to love</p>
            <p class="text-xs">12 hours</p>
            <p class="text-xs">52k+ Total readers</p>
        </div>
        <div class="imagebox h-fit w-36 flex flex-col justify-between m-2">
            <div class="h-56 w-36 rounded-md box overflow-hidden">
            <img src="https://th.bing.com/th/id/OIP.3kdn7cAoRYdAI14Oj6vXlwAAAA?pid=ImgDet&w=204&h=307&c=7&dpr=1.7" alt="Book Cover" class="w-36 h-56 rounded-md object-cover">
        </div>
            <p class="text-sm font-semibold">Learn to love</p>
            <p class="text-xs">12 hours</p>
            <p class="text-xs">52k+ Total readers</p>
        </div>
    </div>
     <!-- End Of TOp trending Div  -->

      <!-- Recently update series -->
     <h1 class=" inline-block text-2xl font-extrabold mt-5 pl-8">Top Recently Updated Series</h1>
    <div class="RowDiv flex flex-row pl-6 gap-6">
        <!-- image box 1  -->
        <div class="imagebox h-fit w-36 flex flex-col justify-between m-2">
            <div class="h-56 w-36 rounded-md box overflow-hidden">
            <img src="https://th.bing.com/th/id/OIP.4fZvK8IfIRSr_aHUa_tSiAAAAA?rs=1&pid=ImgDetMain" alt="Book Cover" class="w-36 h-56 rounded-md object-cover">
        </div>
            <p class="text-sm font-semibold">Learn to love</p>
            <p class="text-xs">12 hours</p>
            <p class="text-xs">52k+ Total readers</p>
        </div>
        <div class="imagebox h-fit w-36 flex flex-col justify-between m-2">
            <div class="h-56 w-36 rounded-md box overflow-hidden">
            <img src="https://i.pinimg.com/originals/f3/99/9a/f3999a2b50883d7209cd413e6c5c9989.png" alt="Book Cover" class="w-36 h-56 rounded-md object-cover">
        </div>
            <p class="text-sm font-semibold">Learn to love</p>
            <p class="text-xs">12 hours</p>
            <p class="text-xs">52k+ Total readers</p>
        </div>
        <div class="imagebox h-fit w-36 flex flex-col justify-between m-2">
            <div class="h-56 w-36 rounded-md box overflow-hidden">
            <img src="https://th.bing.com/th/id/OIP.4Xxtzjg0mk8GDj7bOslpGAAAAA?rs=1&pid=ImgDetMain" alt="Book Cover" class="w-36 h-56 rounded-md object-cover">
        </div>
            <p class="text-sm font-semibold">Learn to love</p>
            <p class="text-xs">12 hours</p>
            <p class="text-xs">52k+ Total readers</p>
        </div>
    </div>
     <!-- End of TOp recend series  -->
     
     
     <!-- Horror series  -->
     <h1 class=" inline-block text-2xl font-extrabold mt-5 pl-8">Horror Series</h1>
     <div class="RowDiv flex flex-row pl-6 gap-6">
         <!-- image box 1  -->
         <div class="imagebox h-fit w-36 flex flex-col justify-between m-2">
            <div class="h-56 w-36 rounded-md box overflow-hidden">
             <img src="https://th.bing.com/th/id/OIP.RmhPv6SDi6IjGQ2bWQlmvAHaLx?rs=1&pid=ImgDetMain" alt="Book Cover" class="w-36 h-56 rounded-md object-cover">
            </div>
             <p class="text-sm font-semibold">Learn to love</p>
             <p class="text-xs">12 hours</p>
             <p class="text-xs">52k+ Total readers</p>
         </div>
         <div class="imagebox h-fit w-36 flex flex-col justify-between m-2">
            <div class="h-56 w-36 rounded-md box overflow-hidden">
             <img src="https://th.bing.com/th/id/OIP.5m-Sx_VHRyggcU_7NZLBrQHaLG?pid=ImgDet&w=474&h=710&rs=1" alt="Book Cover" class="w-36 h-56 rounded-md object-cover">
            </div>
             <p class="text-sm font-semibold">Learn to love</p>
             <p class="text-xs">12 hours</p>
             <p class="text-xs">52k+ Total readers</p>
         </div>
         <div class="imagebox h-fit w-36 flex flex-col justify-between m-2">
            <div class="h-56 w-36 rounded-md box overflow-hidden">
             <img src="https://th.bing.com/th/id/OIP.vMP0o5xVrXoaX2o8yUlLOwHaLY?pid=ImgDet&w=474&h=728&rs=1" alt="Book Cover" class="w-36 h-56 rounded-md object-cover">
            </div>
             <p class="text-sm font-semibold">Learn to love</p>
             <p class="text-xs">12 hours</p>
             <p class="text-xs">52k+ Total readers</p>
         </div>
         <div class="imagebox h-fit w-36 flex flex-col justify-between m-2">
            <div class="h-56 w-36 rounded-md box overflow-hidden">
             <img src="https://th.bing.com/th/id/OIP.-ctckK993M6anU5mOJfQbQHaLS?pid=ImgDet&w=474&h=722&rs=1" alt="Book Cover" class="w-36 h-56 rounded-md object-cover">
            </div>
             <p class="text-sm font-semibold">Learn to love</p>
             <p class="text-xs">12 hours</p>
             <p class="text-xs">52k+ Total readers</p>
         </div>
     </div>
      <!-- End of horror series  -->
</div>



<% include ./partials/footer.ejs %>